.portfolio {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template: repeat(2, 360px) / repeat(2, 555px);
        grid-auto-rows: 360px;
        gap: 30px;
    }
    &__item {
        width: 555px;
        height: 360px;
        position: relative;
        border: 1px solid $main-color;
        perspective: 1000px;
        box-shadow: 12px 12px 2px 1px grey;
        &_back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            background: linear-gradient(
      rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0, linear-gradient(90deg,rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0;
            background-size: 1em 1em;
            background-color: ivory;
        }
        &_front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
            backface-visibility: hidden;
            img {
                width: 100%;
                height: 100%;
                //object-fit: cover;
            }
        }
        &_descr {
            position: absolute;
            width: 480px;
            top: 40px;
            left: 40px;
            font-size: 18px;
        }
        &_github {
            position: absolute;
            top: 300px;
            left: 40px;
            color: $main-color;
            font-size: 25px;
        }
        &_site {
            font-size: 25px;
            position: absolute;
            top: 300px;
            left: 470px;
            color: $main-color;
        }
    }
    &__resumelink {
        text-align: center;
    }
    &__resumeimg {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    &__btn {
        margin-top: 15px;
        display: inline-block;
        padding: 15px 1.87vw;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: $main-color;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid $main-color;
        cursor: pointer;
        transition: opacity 0.2s ease;
        &:hover {
            text-decoration: none;
            background-color: $main-color;
            color: white;
        }
    }
}

.portfolio__item:hover .portfolio__item_front {
    transform: rotateY(180deg);
}
.portfolio__item:hover .portfolio__item_back {
    transform: rotateY(360deg);
}